{% include "header.html" %}
<style>
    .dt-align-center {
        text-align: center;
    }
	.dt-word-break {
		word-break: break-word;
	}
	input[type=checkbox] {
		border-color: #ccc;
		outline: none!important;
		box-shadow: none!important;
		border-radius: 0.25em;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border:1px solid #ccc;
		width:15px;
		height:15px;
		background-color:#fff;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		cursor:pointer;
		margin: 0;
	}
	input:checked[type=checkbox] {
		background-color: #2ab573;
		border-color: #2ab573;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
	}
	.server_side_table .form-control{
		height: 36px;
	}
	div.dataTables_processing {
		/*position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		margin-top: -22px;
		text-align: center;
		padding: 2px;
		z-index: 10;*/
		position: fixed;
		height: auto;
	}
	div.dataTables_processing > div:last-child {
	  position: relative;
	  width: 80px;
	  height: 15px;
	  margin: 0em auto;
	}
	div.dataTables_processing > div:last-child > div {
	  position: absolute;
	  top: 0;
	  width: 13px;
	  height: 13px;
	  border-radius: 50%;
	  background: rgb(42 181 115);
	  animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	div.dataTables_processing > div:last-child > div:nth-child(1) {
	  left: 8px;
	  animation: datatables-loader-1 0.6s infinite;
	}
	div.dataTables_processing > div:last-child > div:nth-child(2) {
	  left: 8px;
	  animation: datatables-loader-2 0.6s infinite;
	}
	div.dataTables_processing > div:last-child > div:nth-child(3) {
	  left: 32px;
	  animation: datatables-loader-2 0.6s infinite;
	}
	div.dataTables_processing > div:last-child > div:nth-child(4) {
	  left: 56px;
	  animation: datatables-loader-3 0.6s infinite;
	}
	
	@keyframes datatables-loader-1 {
	  0% {
		transform: scale(0);
	  }
	  100% {
		transform: scale(1);
	  }
	}
	@keyframes datatables-loader-3 {
	  0% {
		transform: scale(1);
	  }
	  100% {
		transform: scale(0);
	  }
	}
	@keyframes datatables-loader-2 {
	  0% {
		transform: translate(0, 0);
	  }
	  100% {
		transform: translate(24px, 0);
	  }
	}
	</style>

    <div class="content-wrapper">

          <div class="container_full">
              <div class="page-title-box">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-title">Inquiry List</h4>
                    </div>
                </div>
              </div>
              <div class="alert alert-success" role="alert" id="inquiry_msg" style="display:none;"></div>
              <ul class="nav nav-tabs">
                <li ><a  href="{{ url_for('inquirylist') }}">Inquiry List</a></li>
                <li class="active"><a  href="{{ url_for('declinelist') }}">Declined Offer</a></li>
              </ul>
              <div class="form-border dashboard-form-flex">						
                <div class="form-group w-48">
                    <label for="start_date">Start Date</label>
                    <input name="start_date" value="{{ start_date }}" id="start_date_value" type="text" class="form-control input-lg" autocomplete="off">
                </div>
                <div class="form-group w-48">
                    <label>End Date</label>
                    <input name="end_date" value="{{ end_date }}" id="end_date_value" type="text" class="form-control input-lg" autocomplete="off">
                </div>
                <div class="form-group w-48">
                    <input type="submit" class="btn btn-lg btn-primary" value="Filter" onclick="getFilterdData()">
                    <input type="submit" class="btn btn-lg btn-primary" value="Reset" onclick="getResetData()">
                </div>
            </div>
              <section class="content">
                  <div class="alert alert-error" role="alert" id="inquiry_msg_error" style="display:none;"></div>
                  <div class="box brnone">

                      <div class="box-body pt-0">

                          <div class="tab-content">



                            <div>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"

                                    aria-labelledby="exampleModalLabel" aria-hidden="true">

                                    <div class="modal-dialog" role="document">

                                        <div class="modal-content">

                                            <div class="modal-header">

                                                <h5 class="modal-title" id="exampleModalLabel">Declined Offer Details</h5>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                    <span aria-hidden="true">&times;</span>

                                                </button>

                                            </div>

                                            <div class="modal-body">

                                            <table class="table table-bordered" border="0">

                                                <tr>

                                                    <td><b>Name: </b></td>

                                                    <td id="d_name"></td>

                                                </tr>

                                                <tr>

                                                    <td><b>Email: </b></td>

                                                    <td id="d_email"></td>

                                                </tr>

                                                <tr>

                                                        <td><b>Phone: </b></td>

                                                        <td id="d_phone"></td>

                                                    </tr>

                                                    <tr>

                                                        <td><b>Why did you declined this offer?: </b></td>

                                                        <td id="declined_offer"></td>

                                                    </tr>

                                                    <tr>

                                                        <td><b>4 corner outside pictures: </b></td>

                                                        <td id="d_interiorphoto"></td>

                                                    </tr>

                                                    <tr>

                                                        <td><b>Interior Photo: </b></td>

                                                        <td id="d_interiorphoto1"></td>

                                                    </tr>

                                                    <tr>

                                                        <td><b>VIN Photo: </b></td>

                                                        <td id="d_vinphoto"></td>

                                                    </tr>

                                                    <tr>

                                                        <td><b>Mileage Photo: </b></td>

                                                        <td id="d_mileagephoto"></td>

                                                    </tr>

                                            </table>

                                            </div>



                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-danger"

                                                    data-dismiss="modal">Close</button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <table id="dataphone4" class="table table-bordered table-striped">
                                        
                                    <thead align="center">

                                        <tr>

                                            {% if role == (('Super Admin',),) %}

                                                <th>

                                                    <input type="checkbox" name="allArrSelect1" id="allArrSelect1"

                                                        onchange="selectAllChk1()">

                                                </th>

                                            {% endif %}

                                            <th width="100px">Car</th>

                                            <th width="100px">Offer ID</th>

                                            <th width="100px">User's Geolocation</th>

                                            <th width="150px">User Tracked From</th>

                                            <th width="100px">Original Price</th>

                                            <th>Revised Price</th>

                                            <th width="100px">Offer</th>

                                            <th width="100px">Created Date</th>

                                            <th class="nosort" width="100px">Action</th>

                                        </tr>

                                    </thead>



                                    <tbody>

                                        <!-- {% if declineoffer|length == 0 %}

                                        <tr>

                                            {% if role == (('Super Admin',),) %}

                                            <td></td>

                                            {% endif %}

                                            <td></td>

                                            <td>No Data</td>

                                            <td></td>

                                            <td></td>

                                            <td></td>

                                            <td></td>

                                            <td></td>

                                            <td></td>

                                            <td></td>

                                        </tr>

                                        {% else %}

                                        <tr>

                                                {% for row in declineoffer %}

                                                    {% if role == (('Super Admin',),) %}

                                                        <td>

                                                            <input type="checkbox" name="chkArr[]" class="selectChk1"

                                                                value="{{ row[0]}}" onchange="singleSelect()">

                                                        </td>

                                                    {% endif %}

                                                    <td>{{ row[1] }} {{ row[4] }} {{ row[5] }}</td>

                                                    <td>{% if row[38] != 'incomplete' %} {{row[44]}} {% endif %}</td>

                                                    <td>{{ row[35]|capitalize }}, {{ row[36] }}  {{ row[8] }}</td>

                                                    <td>{{ row[43] }}</td>

                                                    <td>{{row[39]}}</td>

                                                    <td>{{row[40]}}</td>

                                                    <td>Declined</td>



                                                    <td>{{ row[33] | change_us_date_formate('%Y-%m-%d')}}</td>

                                                    <td align="center">

                                                        <a class="btn btn-sm btn-primary" href="/dev-carcash/inquiry-fetch/{{ row[0]}}">View</a>

                                                        {% if role == (('Super Admin',),) %}

                                                        <a class="btn btn-sm btn-primary" href="javascript:void(0)"

                                                            onclick="deleteInquiry({{ row[0]}});">Delete</a>

                                                        <a class="btn btn-sm btn-primary" href="javascript:void(0)"

                                                            onclick="decline_show({{ row[0]}});" style="display: none;">Reason</a>

                                                        {% endif %}

                                                        {% if row[38] == 'accept' %}

                                                        {% if row[42] == 'yes' %}

                                                        <span class="dispatch-btn2">Dispatched to Copart</span>

                                                        {% else %}

                                                        <span class="dispatch-btn3">Awaiting Action to Dispatch</span>

                                                        {% endif %}

                                                        {% endif %}

                                                    </td>

                                                </tr>



                                            {% endfor %}

                                        {% endif%} -->

                                    </tbody>

                                </table>

                            </div>

                          </div>

                      </div>

                  </div>

              </section>

          </div>

    </div>



    <script>



        function deleteInquiry(ids1){





            var result = confirm("Are sure want to delete this inquiry?");

            if (result) {



                $.ajax({

                    url: WS_PATH+'deleteinquiry',

                    // url: '/deleteinquiry',

                    data: {id:ids1},

                    type: 'POST',

                    success: function(response){



                        var data = JSON.parse(response);

                        var data1 = data.model;

                        if(data1){

                            $('#inquiry_msg').show();

                            $( "#inquiry_msg" ).html('Inquiry deleted successfully!');



                            setTimeout(function(){ window.location.reload(); }, 2000);





                        }

                    },

                    error: function(error){

                        console.log(error);

                    }

                });

            }

        }

        function inquiryDelete(){



            var result = confirm("Are sure want to delete this inquiry?");

            if (result) {

                var inquiry = $('input[class="selectChk1"]:checked').length;



                if(inquiry==0){

                    $('#inquiry_msg_error').text('Please select atleast one inquiry');

                    $('#inquiry_msg_error').show();

                    setTimeout(function(){ $('#inquiry_msg_error').hide() }, 2000);
                }else{

                    var a = '';

                    $("input:checkbox[class='selectChk1']:checked").each(function(){

                        a = a + $(this).val() + ',';

                    });

                    var b =  a.slice(0, -1);



                    $.ajax({

                        url: WS_PATH+'all-delete-inquiry',

                        data: {id:b},

                        type: 'POST',

                        success: function(response){



                            var data = JSON.parse(response);

                            var data1 = data.model;

                            if(data1){

                                console.log('fffffffffffff',data1);

                                $('#inquiry_msg').show();

                                $( "#inquiry_msg" ).html('Inquiry deleted successfully!');



                                setTimeout(function(){ window.location.reload(); }, 2000);





                            }

                        },

                        error: function(error){

                            console.log(error);

                        }

                    });

                }

            }

        }

        function selectAllChk(){



            if($('#allArrSelect').is(':checked')){

                $('.selectChk1').prop('checked', true);

            }else{

                $('.selectChk1').prop('checked', false);

            }

        }

        function singleSelect(){

            var total =  $('input[class="selectChk1"]').length;

            var selectedTotal =  $('input[class="selectChk1"]:checked').length;



            if(total==selectedTotal){

                $('#allArrSelect').prop('checked', true);

            }else{

                $('#allArrSelect').prop('checked', false);

            }

        }

        function selectAllChk1() {

            if ($('#allArrSelect1').is(':checked')) {
                $('.selectChk1').prop('checked', true);

            } else {

                $('.selectChk1').prop('checked', false);

            }

        }

        function inquiryDelete1() {

            // alert()

            var result = confirm("Are sure want to delete this inquiry?");

            if (result) {

                var inquiry1 = $('input[class="selectChk1"]:checked').length;



                if (inquiry1 == 0) {

                    $('#inquiry_msg_error').text('Please select atleast one inquiry');

                    $('#inquiry_msg_error').show();
                    
                    setTimeout(function(){ $('#inquiry_msg_error').hide() }, 2000);
                } else {

                    var a = '';

                    $("input:checkbox[class='selectChk1']:checked").each(function () {

                        a = a + $(this).val() + ',';

                    });

                    var b = a.slice(0, -1);



                    $.ajax({

                        url: WS_PATH + 'all-delete-inquiry',

                        data: { id: b },

                        type: 'POST',

                        success: function (response) {



                            var data = JSON.parse(response);

                            var data1 = data.model;

                            if (data1) {

                                console.log('fffffffffffff', data1);

                                $('#inquiry_msg').show();

                                $("#inquiry_msg").html('Inquiry deleted successfully!');



                                setTimeout(function () { window.location.reload(); }, 2000);





                            }

                        },

                        error: function (error) {

                            console.log(error);

                        }

                    });

                }

            }

        }

        function decline_show(id) {

                // alert(id)

                $("#exampleModal").modal('show')

                $.ajax({

                    type: "Get",

                    url: WS_PATH + "decline-offer-data/" + id,

                    // data: "data",

                    // dataType: "dataType",

                    success: function (response) {

                        $("#d_name").text(response[0][46])

                        $("#d_email").text(response[0][47])

                        $("#d_phone").text(response[0][48])

                        $("#declined_offer").text(response[0][52])

                        // $("#d_interiorphoto").val(response[0][48])

                        var a = response[0][49]



                        console.log('nigam'+a);



                        if(a!=null && a!='' && a!='null'){

                            var myArray = a.split(",");

                            console.log(myArray)

                            let text = "";

                            for (let i = 0; i<myArray.length; i++) {

                                if(myArray[i]!='' && myArray[i]!=null){

                                    text += '<img class="img-preview" src="static/images/'+myArray[i]+'"  width="100px"/>';

                                    document.getElementById("d_interiorphoto").innerHTML = text;

                                }

                            }

                        }

                        if(response[0][50]!='' && response[0][50]!=null){

                            $('#d_vinphoto').html('<img class="img-preview" src="static/images/' + response[0][50] + '"  width="100px"/>');

                        }



                        // $("#d_mileagephoto").val(response[0][50])

                        if(response[0][51]!='' && response[0][51]!=null){

                            $('#d_mileagephoto').html('<img class="img-preview" src="static/images/' + response[0][51] + '"  width="100px"/>');

                        }

                        if(response[0][53]!='' && response[0][53]!=null){

                            $('#d_interiorphoto1').html('<img class="img-preview" src="static/images/' + response[0][53] + '"  width="100px"/>');

                        }

                    }

                });

            }

    </script>

    {% include "footer.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>

    getDashboardData();

	$(document).ready(function() {
		$('#start_date_value').datepicker({
			autoclose: true,
			onSelect: function(dateText) {
	          $(this).datepicker('hide'); // Manually hide the datepicker after selecting a date
	        }
		});
		$('#end_date_value').datepicker({
			autoclose: true,
			onSelect: function(dateText) {
	          $(this).datepicker('hide'); // Manually hide the datepicker after selecting a date
	        }
		});	
		
	});
	$('#start_date_value').datepicker({
		autoclose: true,
		onSelect: function(dateText) {
          $(this).datepicker('hide'); // Manually hide the datepicker after selecting a date
        },
		format: 'yyyy-mm-dd', 
		defaultDate: new Date(), 
	});
	$('#end_date_value').datepicker({
		autoclose: true,
		onSelect: function(dateText) {
          $(this).datepicker('hide'); // Manually hide the datepicker after selecting a date
        },
		format: 'yyyy-mm-dd', 
		defaultDate: new Date(), 
	});

    function getDashboardData(){
        start_date = $('#start_date_value').val();
		end_date = $('#end_date_value').val();
        initializeDataTable(start_date, end_date);
    }

    function getFilterdData(){
		start_date = $('#start_date_value').val();
		end_date = $('#end_date_value').val();
		initializeDataTable(start_date,end_date)
    }

    function getResetData(){
		var currentDate = new Date();
		var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
		var lastDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
		var startDate = formatDate(firstDayOfMonth);
		var endDate = formatDate(lastDayOfMonth);
		
		$('#start_date_value').val(startDate);
		$('#end_date_value').val(endDate);
	
		start_date = $('#start_date_value').val();
		end_date = $('#end_date_value').val();
		initializeDataTable(start_date,end_date)
	}

    function initializeDataTable(start_date, end_date) {
        $(document).ready(function() {
            $('#dataphone4').DataTable().destroy();
            $('#dataphone4').DataTable({
                order: [[8, 'desc']],
                "processing": true,
                "pageLength": 50, 
                "language": {
                    "processing": '<div><div></div><div></div><div></div><div></div></div>' // Custom loading icon
                },
                "serverSide": true,
                "ajax": {
                    "url": WS_PATH + "/get-decline-data",
                    "type": "POST",
                    "data": function (d) {
                        d.start_date = start_date;
                        d.end_date = end_date;
                    },
                    "dataSrc": "data"
                },
                "columns": [
                    { 
                        "data": "chk",
                        "render": function(data, type, row) {
                            return data;
                        }
                    },
                    { "data": "car" },
                    { "data": "offerif" },
                    { "data":"location"},
                    { "data": "form" },
                    { "data": "orignalprice" },
                    { "data": "revisedprice" },
                    { "data": "offer" },
                    { "data": "date" },
                    { 
                        "data": "btn",
                        "render": function(data, type, row) {
                            return data;
                        }
                    },
                ],
                "columnDefs": [
                    {
                        "targets": 4, 
                        "className": "dt-word-break" 
                    },
                    {
                        "targets": 9, 
                        "className": "dt-align-center" 
                    },
                    { "orderable": false, "targets": [0,1,3,4,9] }
                ],
                "initComplete": function(settings, json) {
                    $('.dataTables_length').append('<input type="submit" class="btn btn-lg btn-primary" value="Delete" onclick="inquiryDelete()" 	style="margin-left:15px;">');
                }
            });
        });
    }

    function formatDate(date) {
		var year = date.getFullYear();
		var month = (date.getMonth() + 1).toString().padStart(2, '0'); 
		var day = date.getDate().toString().padStart(2, '0');
		return year + '-' + month + '-' + day;
	}
    
</script>
    