{% include "header.html" %}
<style type="text/css">
  .error{
        color: red;
    }
    .loadingdiv{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999999;
        background: rgb(255 255 255 / 65%);
    }
    .tcaloader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-image: url({{ url_for('static', filename='images/car-logo.png')}});
        background-size: 92px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: #fff;
        background-color: rgb(255 255 255 / 90%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    .load-icon {
        width: 55px;
        height: 20px;
        margin-top: 130px;
        position: relative;
    }
    .load-icon span {
        animation-name: loading;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        position: absolute;
        display: inline-block;
        background: #222;
        width: 12px;
        height: 12px;
        border-radius: 100px;
    }
    .load-icon span:nth-of-type(1) {
        left: 0;
    }
    .load-icon span:nth-of-type(2) {
        animation-delay: .2s;
        left: 40%;
    }
    .load-icon span:nth-of-type(3) {
        animation-delay: .4s;
        right: 0;
    }
    @keyframes loading {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
</style>
<div id="loadingdieditvvehicle" class="tcaloader" style="display:none;">
    <div class="load-icon center">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
<div class="content-wrapper">
      <div class="content-wrapper">
          <div class="container">
			  <div class="page-title-box">
          <div class="col-md-12">
            <div class="alert alert-success" role="alert" id="notes_add1" style="display:none;"></div>
          </div>
				<div class="row dflex align-center">
					<div class="col-lg-6">
						<h4 class="page-title">Inquiry Detail</h4>
					</div>
					<div class="col-lg-6 text-right">
            {% if data[0][38] == 'accept' %}
              <select name="" id="" class="form-select btn-lg" onchange="statuses_update(this.value)">
                <option value="">Select Status</option>
                <!--<option value="Accepted" {% if  data[0][57] == "Accepted" %} selected {% endif %}>Accepted</option>-->
                <!--<option value="Not accepted" {% if  data[0][57] == "Not accepted" %} selected {% endif %}>Not accepted</option>-->
                <option value="Pending pick up" {% if  data[0][57] == "Pending pick up" %} selected {% endif %}>Pending pick up</option>
                <option value="At auction" {% if  data[0][57] == "At auction" %} selected {% endif %}>At auction</option>
                <option value="Canceled" {% if  data[0][57] == "Canceled" %} selected {% endif %}>Canceled </option>
              </select>
            {% endif  %}

            {% for row in data %}
            {% if row[38] == 'Decline' %}
                <a class="btn btn-lg btn-primary" href="{{ url_for('declinelist') }}">Back To List</a>
            {% elif row[38] == 'accept' %}
                {% if back  %}
                    <a class="btn btn-lg btn-primary" href="{{ url_for('inquirylist') }}">Back To List</a>
                {% else %}
                
                <a class="btn btn-lg btn-primary" href="{{ url_for('inquirylist') }}?status=accepted&dispatch=no">Back To List</a>
                {% endif %}
            {% else %}
                <a class="btn btn-lg btn-primary" href="{{ url_for('inquirylist') }}">Back To List</a>
            {% endif %}
            {% endfor%}
						  
						{% for row in data %}
						    {% if row[38] == 'accept' %}
						        {% if row[42] == 'yes' %}
							    <span class="dispatch-btn2">Dispatched to Copart</span>
							    {% else %}
							    <a class="btn btn-lg btn-primary dispatch-btn1" href="javascript:void(0)" onclick="dispatchCopart({{ row[0]}})">Dispatch to Copart</a>
							    {% endif%}
							{% endif%}
						{% endfor%}
					</div>
				</div>
				<div class="" style="color:green" role="alert" id="inquiry_msg" style="display:none;"></div>
				<div id="loadingdiv" class="loadingdiv" style="display: none;" ><img src="{{ url_for('static', filename='images/imgpsh_fullsize_anim.gif')}}" ></div>
			  </div>
              <section class="content">
                  <div class="box">
                          {% for message in get_flashed_messages()%}
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ message }}
                </div>
                {% endfor%}
                      <div class="box-body detail-info-section lg-form">
                        <form class="form-horizontal" method="POST" action="{{ url_for('updateprofile') }}">
                        {% for row in data %}

                        
                            <h4 class="text-center">Payee Amount:
                              {% if row[40] == "NaN" %}
                              {% elif row[40] == none %}
                              {% else %}
                                    ${{ row[40] }}
                              {% endif %}
                            </h4>
                            <h4 class="text-center">Payee Name: {% if row[28] !=none %} {{ row[28] }} {% endif %}</h4>
                            <!-- new for condition -->
                            {% if row[58] == "NaN" %}
                              {% elif row[58] == none %}
                              {% else %}
                                <table class="table inquiry-log-table">
                                    <h3>Offer Information</h3>
                                    <tr>
                                        <th>Original Price:</th>
                                        <td>{{row[39]}}</td>
                                        <th>Revised Price:</th>
                                        <td>{{row[40]}}</td>
                                    </tr>
                                    <tr>
                                        {% if row[58] == "copart" %}
                                            <td colspan="4">
                                                <p>Revised price calculated from "Price management" & the result is calculated based on {{row[62]}}% of the Copart price.</p>
                                                <p>(Price management Rule:  min amount {{row[60]}}  to max amount {{row[61]}} is applied so revised price to {{row[62]}}% of original price. ) </p>
                                            </td>
                                        {% else %}
                                            <td colspan="4">
                                                {% if row[64] == "Proquote Estimate" %}
                                                    <p>Revised price calculated from "Condition report" & the condition report is "{{row[68]}}".</p>
                                                    <p>Buying rule is: {{row[64]}} {{row[65]}} {{row[67]}} {{row[66]}}</p>
                                                {% else %}
                                                    <p>Revised price calculated from "Condition report" & the condition report is "{{row[68]}}".</p>
                                                    <p>Buying rule is: {{row[64]}}</p>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                </table>
                              {% endif %}
                            
                            <!-- new for condition end -->
                            <table class="table client-info-table">
                                <h3>Client Information
                                  {% if row[40] == "NaN" %}
                                  {% elif row[40] == none %}
                                  {% else %}
                                      (Offer ID - {{ row[44] }})
                                  {% endif %}
                                </h3>
                                <tr>
                                    <th width="117">Full Name:</th>
                                    <td width="117">{% if row[22] !=none %} {{ row[22] }} {% endif %}</td>
                                    <th width="117">Email:</th>
                                    <td width="117">{% if row[70] !=none %} {{ row[70] }} {% endif %}</td>
                                    <th width="107">Phone:</th>
                                    <td width="165">{% if row[24] !=none %} {{ row[24] }} {% endif %}</td>
                                    <th width="125">Alternate Phone:</th>
                                    <td>{% if row[25] !=none %} {{ row[25] }} {% endif %}</td>
                                    <th width="80"></th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Location Name:</th>
                                    <td>{% if row[17] !=none %} {{ row[17]|capitalize }} {% endif %}</td>
                                    <th>Address Type:</th>
                                     <td>{% if row[16] == 'R' :  %}
                                        {% if row[20] !=none %}
                                        {% if row[20] != '' %}
                                        Residence
                                        {% endif %}
                                        {% endif %}
                                      {% elif row[16] == 'B' : %}
                                        Business
                                      {% elif row[16] == none %}
                                      {% else %}
                                        {{ row[16]}}
                                      {% endif %}
                                     </td>
                                    <th>Address1:</th>
                                    <td>{% if row[18] !=none %} {{ row[18]|capitalize }} {% endif %}</td>
                                    <th>Address2:</th>
                                    <td>{% if row[19] !=none %} {{ row[19]|capitalize }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>City:</th>
                                    <td>{% if row[20] !=none %} {{ row[20] }} {% endif %}</td>
                                    <th>State: </th>
                                    <td>{{state_n}}</td>
                                    <th>Zip:</th>
                                    <td>{% if row[8] !=none %} {{ row[8]|capitalize }} {% endif %}</td>
                                    <th></th>
                                    <td></td>
                                </tr>
                                <!--<tr>-->
                                <!--    <th>IP Address:</th>-->
                                <!--    <td>{{ row[31] }}</td>-->
                                <!--    <th>Host Name:</th>-->
                                <!--    <td style="word-break: break-word;">{{ row[32] }}</td>-->
                                <!--    <th>IP Location:</th>-->
                                <!--    <td colspan="4">-->
                                <!--      {% if row[35] !=none %} {{ row[35] }}, {% endif %}-->
                                <!--      {% if row[36] !=none %} {{ row[36] }}, {% endif %}-->
                                <!--      {% if row[37] !=none %} {{ row[37] }} {% endif %}</td>-->
                                <!--</tr>-->
                            </table>

                            <table class="table my-3 vehicle-info-table">
                                <h3>Vehicle Information</h3>
                                <tr>
                                    <td width="20%">{{ row[1] }} {{ row[4] }} {{ row[5] }}</td>
                                    <th width="20%">Vin:</th>

                                    <td>{{ row[6] }}</td>

                                    <th>Mileage:</th>
                                    {% if row[13] == none %}
                                    <td >Unable to verify <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px"></td>
                                    {% elif row[13] == None %}
                                    <td >Unable to verify <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px"></td>
                                    {% elif row[13] == null %}
                                    <td >Unable to verify <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px"></td>
                                    {% elif row[13] == '' %}
                                    <td >Unable to verify <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px"></td>
                                    {% else %}
                                    <td> {{ row[13] }}</td>
                                    {% endif %}

                                </tr>
                                <tr>
                                    <th>Primary Damage:</th>
                                    <td>
                                      {% if row[45] == 'MN' :  %}
                                        Minor dent/Scratches  <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                      {% elif row[45] == 'AO' :  %}
                                        All Over  <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                      {% elif row[45] == 'BN' :  %}
                                        Burn   <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                      {% elif row[45] == 'FR' :  %}
                                        Front End  <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                      {% elif row[45] == 'RE' :  %}
                                        Rear End  <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                      {% elif row[45] == 'SD' :  %}
                                        Side Damage  <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                      {% elif row[45] == 'TP' :  %}
                                        Top/Roof  <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                      {% elif row[45] == 'RR' :  %}
                                        Rear End  <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                      {% else %}
                                        Option Not Selected <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px">
                                      {% endif %}
                                    </td>
                                    <th>Secondary Damage</th>
                                    <td>
                                      {% if row[41] == 'Vehicle is in good shape!' :  %}
                                        {{row[41]}} <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                        {% elif row[41] == 'No, my vehicle is in good shape!' %}
                                        {{row[41]}} <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                        {% elif row[41] == none %}
                                        Option Not Selected <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px">
                                        {% else %}
                                          {{ row[41] }}
                                        {% if row[41] != None :  %}
                                          {% if row[41] != 'No, my vehicle is in good shape!' :  %}
                                          <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                          {% endif %}
                                        {% endif %}
                                      {% endif %}
                                    </td>
                                    <th>Drive Status:</th>
                                    <td>
                                      {% if row[12] == 'D' :  %}
                                        It starts and drives <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                      {% elif row[12] == none :  %}
                                      Option Not Selected <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px">
                                      {% elif row[12] == 'S' :  %}
                                        It starts but does not drive.<img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">

                                      {% elif row[12] == 'N' :  %}
                                        It doesn't start. <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                      {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Fire/flood status:</th>
                                    <td>
                                        {% if row[15] == 'no' :  %}
                                              It has no flood or fire damage <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                        {% elif row[15] == 'yes' : %}
                                            It has flood or fire damage  <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                        {% elif row[15] == 'W' : %}
                                            It has flood or fire damage  <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                        {% elif row[15] == none : %}
                                        Option Not Selected <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px">
                                        {% endif %}
                                    </td>

                                    <th>Mechanical status:</th>
                                    <td>
                                      {% if row[41] == 'Vehicle is in good shape!' :  %}
                                        Vehicle is in good shape! <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                        {% elif row[41] == 'No, my vehicle is in good shape!' %}
                                        {{row[41]}} <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                        {% elif row[41] == none %}
                                        Option Not Selected <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px">
                                        {% else %}
                                          {{ row[41] }}
                                        {% if row[41] != None :  %}
                                          {% if row[41] != 'No, my vehicle is in good shape!' :  %}
                                          <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                          {% endif %}
                                        {% endif %}
                                      {% endif %}
                                    </td>
                                  </tr>
                                <tr>
                                    <th>Title:</th>
                                    <td>{% if row[10] == 'clean title' :  %}
                                      clean title <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                    {% elif row[10] == none %}
                                    Option Not Selected <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px">
                                    {% else %}
                                      {{ row[10] }}<img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                    {% endif %}
                                    </td>
                                    <th>Car Key:</th>
                                    <td>

                                        {% if row[11] == 'Y' :  %}
                                          Yes <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                        {% elif row[11] == none %}
                                        Option Not Selected <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px">
                                        {% else %}
                                          No <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                        {% endif %}
                                    </td>
                                    <th>Airbag:</th>
                                    <td>
                                        {% if row[14] == 'Y' :  %}
                                          The air bags are deployed <img src="{{url_for('static' , filename = 'images/false-red.png')}}" alt="" width="20px">
                                        {% elif row[14] == none %}
                                        Option Not Selected <img src="{{url_for('static' , filename = 'images/round-warning-32.png')}}" alt="" width="20px">
                                        {% else %}
                                          Air bags aren't deployed <img src="{{url_for('static' , filename = 'images/true-green.png')}}" alt="" width="20px">
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            {% if row[38] == 'Decline' %}
                            <table class="table inquiry-log-table">
                               <h3>Declined Offer Details</h3>
                               <tr>
                                  <td><b>Name: </b> {{row[46]}}</td>
                                  <td><b>Email: </b> {{row[47]}}</td>
								  <td class="2"><b>Phone: </b> {{row[48]}} </td>
                               </tr>
                                <tr>
                                  <td colspan="2"><b>How much would you accept for your vehicle?: </b> ${{row[54]}} </td>
                                  <td colspan="2"><b>Why did you declined this offer?: </b> {{row[52]}} </td>
                                </tr>
                                <tr>
                                    <td colspan="4"> 
                                        <b>4 corner outside pictures: </b><br>
                                        {% set variable1 = row[49] %}
                                        {% set list1 = variable1.split(',') %}
                                        {% for item in list1 %}
                                        {% if item != '' :  %}
                                       <a href="/dev-carcash/static/images/{{item}}" rel="prettyPhoto[gallery1]"><img src="/dev-carcash/static/images/{{item}}"  alt="4 corner outside pictures" width="100px" class="img-preview"></a>
                                       {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
									<td> 
                                        <b>Interior Photo:</b><br> 
                                        {% set variable2 = row[53] %}
                                        {% set list2 = variable2.split(',') %}
                                        {% for item2 in list2 %}

                                          {% if item2 != '' :  %}
                                          <a href="/dev-carcash/static/images/{{item2}}" rel="prettyPhoto[gallery1]"> <img src="/dev-carcash/static/images/{{item2}}"  alt="Interior Photo" width="100px" class="img-preview">  </a> 
                                          {% endif %}
                                        {% endfor %}
                                    </td>
									<td> <b>VIN Photo: </b><br> 
                                        {% set variable3 = row[50] %}
                                        {% set list3 = variable3.split(',') %}
                                        {% for item3 in list3 %}
                                        {% if item3 != '' :  %}
                                        <a href="/dev-carcash/static/images/{{item3}}" rel="prettyPhoto[gallery1]">  <img src="/dev-carcash/static/images/{{item3}}"  alt="VIN Photo" width="100px" class="img-preview"> </a>
                                        {% endif %}
                                        {% endfor %}
                                    </td>
									<td> <b>Mileage Photo: </b><br> 
                                        {% set variable4 = row[51] %}
                                        {% set list4 = variable4.split(',') %}
                                        {% for item5 in list4 %}
                                        {% if item5 != '' :  %}
                                          <a href="/dev-carcash/static/images/{{item5}}" rel="prettyPhoto[gallery1]"><img src="/dev-carcash/static/images/{{item5}}"  alt="Mileage Photo" width="100px" class="img-preview">   </a>
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td width="103px"></td>
                                </tr>
                                <tr>
                                 
                                </tr>
                            </table>
                            {% endif %}

                            {% if row[70] == "NaN" %}
                      {% elif row[70] == none %}
                      {% elif row[70] == None %}
                      {% else %}
                      <h3>Synthetic Image</h3>
                        <div>
                            <a href="{{ url_for('static', filename='chatgptimg/')}}{{row[70]}}" rel="prettyPhoto[gallery1]">
                                <img src="{{ url_for('static', filename='chatgptimg/')}}{{row[70]}}" width="100px" class="img-preview">
                            </a>
                             <form action="" method="POST" id="updateChatGptImg" class="row g-3 mt-0">
                                <div class="col-md-2 mt-0">
                                    <div class="form-group reports-form">
                                        <label class="col-form-label">Add Files</label>
                                        <div class="upload_images" id="uploadfile">
                                            <div class="upload-btn-wrapper">
                                                <i class="fa fa-plus"></i>
                                                <input type="file" id="filenote_chat" name="filenote_chat[]" accept=".png, .jpg, .jpeg, .gif, .pdf, .txt, .docx, .doc, .wps">
                                            </div>
                                            <img style="display:none" id="notefile_chat" alt="your note image" width="100" height="100" />
                                            <h6 class="upload_files_name_chat" style="display:none" id="notefile1_chat"></h6>
                                        </div>
                                    </div>
                                    <span class="text-danger mt-1 d-block" id="file_error_chat"></span>
                                    <input type="hidden" name="file_chat" id="file_chat" value="">
                                </div>
                            </form>
                        </div>
                       
                            <table class="table inquiry-log-table">
                               <h3>Inquiry Log</h3>
                                <tr>
                                    <th colspan="3">User Tracked From:</th>
                                    <td colspan="3">

                                        {% if row[43] == 'https://t.co/' :  %}
								            https://www.twitter.com/
								        {% else:  %}
								            {{ row[43] }}
								        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>IP Address:</th>
                                    <td>{{ row[31] }}</td>
                                    <th>Host Name:</th>
                                    <td style="word-break: break-word;">{{ row[32] }}</td>
                                    <th>Tracking Zip Code:</th>
                                    <td colspan="4">
                                      {% if row[35] is not none %} {{ row[35]|capitalize }}, {% endif %}
                                      {% if row[36] is not none %} {{ row[36] }} {% endif %}
                                      {% if row[36] is not none %} {{ row[8] }} {% endif %}
                                    </td>
                                </tr>
                            </table>
                            
                            
                        
                        </form>
                        
                        <table class="table inquiry-log-table">
                            {% endif %}
                <tr>
                  <td class="p0"> <h3>Notes</h3></td>
                </tr>
                               <tr>
                                    <td class="p0 pt-10">

                                       <form action="" method="POST" id="createAccountForm" class="row g-3 mt-0">

                                          <input type="hidden" name="inquiry_id" id="inquiry_id" value="{{ data[0][0] }}">
                                          <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
                                          <input type="hidden" name="" id="role_id" value="{{ role[0][0] }}">

                                          <div class="col-md-10 pr-0 mt-0">
                                              <div class="form-group reports-form">
                                                  <label for="counterbid" class="col-form-label">Add Note</label>
                                                  <textarea type="text" id="notes" name="notes" class="form-control " rows="2"></textarea>
                                                  <p class="mt-2">Note: Documents, PDFs & Image files are allowed to upload.</p>
                                                  
                                                  <div id="fileerrormsg" ></div>
                                                  <span class="text-danger mt-1 d-block" id="notes_error"></span>
                                                  <div class="mt-3">
                                                    <button id="notesubmit_button" type="button" value="submit" name="submit" class="btn btn-lg btn-primary mt-2" onclick="notesubmit()">Submit</button>
                                                  </div>
                                                  <div style="color: #28a745; margin-top:5px;"  id="notes_add"></div>
                                              </div>
                                          </div>
                                          <div class="col-md-2 mt-0">
                                            <div class="form-group reports-form">
                                                <label class="col-form-label">Add Files</label>
                                                <div class="upload_images" id="uploadfile">
                                                    <div class="upload-btn-wrapper">
                                                        <i class="fa fa-plus"></i>
                                                        <input type="file" id="filenote" name="files[]" accept=".png, .jpg, .jpeg, .gif, .pdf, .txt, .docx, .doc, .wps">
                                                    </div>
                                                    <img style="display:none" id="notefile" alt="your note image" width="100" height="100" />
                                                    <h6 class="upload_files_name" style="display:none" id="notefile1"></h6>
                                                </div>
                                            </div>
                                            <span class="text-danger mt-1 d-block" id="file_error"></span>
                                            <input type="hidden" name="file" id="file" value="">
                                          </div>

                                        </form>
                     <ul class="notes-list-box" id="note_table">

                                          </ul>

                                    </td>
                               </tr>
                           </table>
                           </div>
                        {% endfor %}
                        </div>
                     </div>
              </section>
          </div>
      </div>
</div>

<script>
	function dispatchCopart(id){
	var result = confirm("Are sure want to dispatch this inquiry to copart?");
	$('.loadingdiv').show();
	if (result) {

		$.ajax({
			url: WS_PATH+'get-offer',
			data: {id:id},
			type: 'POST',
			success: function (response) {

				$('#inquiry_msg').show();
					$( "#inquiry_msg" ).html('Inquiry dispatched to the copart successfully!');

				setTimeout(function(){ window.location.reload(); }, 2000);
				$('.loadingdiv').hide();
			},
			error: function (error) {
				console.log('response1')
				console.log(error);
				$('.loadingdiv').hide();
			}
		});

	}else{
		$('.loadingdiv').hide();
	}
}

</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static' , filename ='js/noteadd.js')}}"></script>
{% include "footer.html" %}
<script>
	jQuery(document).ready(function(){
		
		jQuery("a[rel^='prettyPhoto']").prettyPhoto({ overlay_gallery: false, social_tools: '', deeplinking: false });
		
	 });
	jQuery(window).on('load', function () {
	
			jQuery("a[rel^='prettyPhoto']").prettyPhoto({ overlay_gallery: false, social_tools: '', deeplinking: false });
	
	});
</script>
