{% include "header.html" %}
<style>
	.dt-word-break {
		word-break: break-word;
	}
	.align-center {
    	text-align: center;
	}
	input[type=checkbox] {
		border-color: #ccc;
		outline: none!important;
		box-shadow: none!important;
		border-radius: 0.25em;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border:1px solid #ccc;
		width:15px;
		height:15px;
		background-color:#fff;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		cursor:pointer;
		margin: 0;
	}
	input:checked[type=checkbox] {
		background-color: #2ab573;
		border-color: #2ab573;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
	}
	.server_side_table .form-control{
		height: 36px;
	}
	div.dataTables_processing {
		/*position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		margin-top: -22px;
		text-align: center;
		padding: 2px;
		z-index: 10;*/
		position: fixed;
		height: auto;
	}
	div.dataTables_processing > div:last-child {
	  position: relative;
	  width: 80px;
	  height: 15px;
	  margin: 0em auto;
	}
	div.dataTables_processing > div:last-child > div {
	  position: absolute;
	  top: 0;
	  width: 13px;
	  height: 13px;
	  border-radius: 50%;
	  background: rgb(42 181 115);
	  animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	div.dataTables_processing > div:last-child > div:nth-child(1) {
	  left: 8px;
	  animation: datatables-loader-1 0.6s infinite;
	}
	div.dataTables_processing > div:last-child > div:nth-child(2) {
	  left: 8px;
	  animation: datatables-loader-2 0.6s infinite;
	}
	div.dataTables_processing > div:last-child > div:nth-child(3) {
	  left: 32px;
	  animation: datatables-loader-2 0.6s infinite;
	}
	div.dataTables_processing > div:last-child > div:nth-child(4) {
	  left: 56px;
	  animation: datatables-loader-3 0.6s infinite;
	}
	
	@keyframes datatables-loader-1 {
	  0% {
		transform: scale(0);
	  }
	  100% {
		transform: scale(1);
	  }
	}
	@keyframes datatables-loader-3 {
	  0% {
		transform: scale(1);
	  }
	  100% {
		transform: scale(0);
	  }
	}
	@keyframes datatables-loader-2 {
	  0% {
		transform: translate(0, 0);
	  }
	  100% {
		transform: translate(24px, 0);
	  }
	}
	</style>
<div class="content-wrapper">            

	  <div class="container_full">
		  <div class="page-title-box">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="page-title">Inquiry List</h4>
				</div>
			</div>
		  </div>
		  <div class="alert alert-success" role="alert" id="inquiry_msg" style="display:none;"></div>
		  <div class="form-border dashboard-form-flex">						
			<div class="form-group w-48">
				<label for="start_date">Start Date</label>
				<input name="start_date" value="{{ start_date }}" id="start_date_value" type="text" class="form-control input-lg" autocomplete="off">
			</div>
			<div class="form-group w-48">
				<label>End Date</label>
				<input name="end_date" value="{{ end_date }}" id="end_date_value" type="text" class="form-control input-lg" autocomplete="off">
			</div>
			<div class="form-group w-48">
				<input type="submit" class="btn btn-lg btn-primary" value="Filter" onclick="getFilterdData()">
				<input type="submit" class="btn btn-lg btn-primary" value="Reset" onclick="getResetData()">
			</div>
		</div>
		  <section class="content">
		  	
		  	<div class="alert alert-error" role="alert" id="inquiry_msg_error" style="display:none;"></div>

			  <div class="box brnone">
				  <div class="box-body pt-0">
					  <table id="dataphone111" class="table table-bordered table-striped">
					  <thead align="center">
						<tr>
						   
						   	{% if role == (('Super Admin',),) %}
						   	<th width="5%">
						   		<input type="checkbox" name="allArrSelect" id="allArrSelect" onchange="selectAllChk()">
						   	</th>
						   {% endif %}
						   
						  <th width="10%">Car</th>
						  <!--<th>Name</th>-->
						  <th width="10%">Offer ID</th>
						  <th width="10%">User's Geolocation</th>
						  <th width="16%">User Tracked From</th>
						  <th width="8%">Price</th>
						  <th width="8%">Status</th>
						  <th width="10%">Created Date</th>
						  <th class="nosort" width="13%">Action</th>
						</tr>
					  </thead>

					  <tbody>
						  <!-- {% if data|length == 0 %}
						<tr>
						    <td></td>
						    <td></td>
						  <td>No Data</td>
						   <td></td> 
						  <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						</tr>
						  {% else %}
						<tr>
						    
							{% for row in data %}
							
							
								{% if role == (('Super Admin',),) %}
								<td>
									<input type="checkbox" name="chkArr[]" class="selectChk" value="{{ row[0]}}" onchange="singleSelect()">
								</td>
							{% endif %}
							
									
						  <td>{{ row[1] }} {{ row[4] }} {{ row[5] }}</td>
						  <td>
						  	{% if row[40] == "NaN" %}
                            {% elif row[40] == none %}
                            {% else %}
                                {{row[44]}} 
                            {% endif %}
						  </td> -->
						  <!-- <td>{{ row[20] }} {{ row[21] }}</td> -->
						  <!-- <td>{{ row[35] }}, {{ row[36] }}, {{ row[37] }}</td>
						  <td style="word-break: break-word;">{% if row[43] == 'https://t.co/' :  %}
								            https://www.twitter.com/
								        {% else:  %}
								            {{ row[43] }}
								        {% endif %}</td>
						  <td>{% if row[39] == "NaN" %}
						         Not Finished
                              {% elif row[39] == none %}
                               Not Finished
                              {% else %}
                                    ${{ row[39] }}
                              {% endif %}</td>
						  <td>{% if row[40] == "NaN" %}
						   Not Finished
                              {% elif row[40] == none %}
                               Not Finished
                              {% else %}
                                    ${{ row[40] }}
                              {% endif %}</td> -->
						  <!--{% if row[38] == 'accept' %}-->
						  <!--	<td>Accepted</td>-->

						  <!--{% else %}-->
						  <!--	<td>Not accepted</td>-->
						  <!--{% endif%}  -->
						  <!-- <td>
						      {% if row[57] == "NaN" %}
						        Accepted
						      {% elif row[57] == none %}
						        Accepted
						      {% elif row[57] == '' %}
						        Accepted
						      {% else %}
						        {{row[57]}}
						      {% endif %}
						  </td>
						  
						  <td>{{ row[33] }}</td>
						  <td align="center">

							<a class="btn btn-sm btn-primary" href="/dev-carcash/inquiry-fetch/{{ row[0]}}">View</a> -->
							<!--<a class="btn btn-sm btn-primary" href="javascript:void(0)" onclick="deleteInquiry({{ row[0]}})">Delete</a>-->
							
							<!-- {% if role == (('Super Admin',),) %}
							<a class="btn btn-sm btn-primary" href="javascript:void(0)" onclick="deleteInquiry({{ row[0]}})">Delete</a>
							{% endif %}
							
							
							{% if row[38] == 'accept' %}
						        {% if row[42] == 'yes' %}
						            <span class="dispatch-btn2">Dispatched to Copart</span>
						        {% else %}
						        	<span class="dispatch-btn3">Awaiting Action to Dispatch</span>
						        {% endif %}
						    {% endif %}
						  </td>
						</tr>
							{% endfor %}
						  {% endif%}    -->
					  </tbody>
					</table>

				  </div>
		  </div>
		  </section>
	  </div>
</div>

<script>
    
    
    
	function deleteInquiry(ids1){


		var result = confirm("Are sure want to delete this inquiry?");
		if (result) {

		    $.ajax({
				url: WS_PATH+'deleteinquiry',
				// url: '/deleteinquiry',
				data: {id:ids1},
				type: 'POST',				
				success: function(response){
					
					var data = JSON.parse(response);
					var data1 = data.model;
					if(data1){
						$('#inquiry_msg').show();
						$( "#inquiry_msg" ).html('Inquiry deleted successfully!');

						setTimeout(function(){ window.location.reload(); }, 2000);
						 
						
					}
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
	
	function inquiryDelete(){

		var result = confirm("Are sure want to delete this inquiry?");
		if (result) {
			var inquiry = $('input[class="selectChk"]:checked').length;

			if(inquiry==0){
				$('#inquiry_msg_error').text('Please select atleast one inquiry');
				$('#inquiry_msg_error').show();

				setTimeout(function(){ $('#inquiry_msg_error').hide() }, 2000);
			}else{
				var a = '';
				$("input:checkbox[class='selectChk']:checked").each(function(){
					a = a + $(this).val() + ',';
				});
				var b =  a.slice(0, -1);

				$.ajax({
					url: WS_PATH+'all-delete-inquiry',
					data: {id:b},
					type: 'POST',				
					success: function(response){
						
						var data = JSON.parse(response);
						var data1 = data.model;
						if(data1){
							console.log('fffffffffffff',data1);
							$('#inquiry_msg').show();
							$( "#inquiry_msg" ).html('Inquiry deleted successfully!');

							setTimeout(function(){ window.location.reload(); }, 2000);
							 
							
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		}
	}
	function selectAllChk(){

		if($('#allArrSelect').is(':checked')){
			$('.selectChk').prop('checked', true);	
		}else{
			$('.selectChk').prop('checked', false);	
		}
	}

    

	function singleSelect(){

		var total =  $('input[class="selectChk"]').length;
		var selectedTotal =  $('input[class="selectChk"]:checked').length;

		if(total==selectedTotal){
			$('#allArrSelect').prop('checked', true);	
		}else{
			$('#allArrSelect').prop('checked', false);	
		}
	}
</script>

{% include "footer.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
	getDashboardData();

	$(document).ready(function() {
		$('#start_date_value').datepicker({
			autoclose: true,
			onSelect: function(dateText) {
	          $(this).datepicker('hide'); // Manually hide the datepicker after selecting a date
	        }
		});
		$('#end_date_value').datepicker({
			autoclose: true,
			onSelect: function(dateText) {
	          $(this).datepicker('hide'); // Manually hide the datepicker after selecting a date
	        }
		});	
		
	});
	$('#start_date_value').datepicker({
		autoclose: true,
		onSelect: function(dateText) {
          $(this).datepicker('hide'); // Manually hide the datepicker after selecting a date
        },
		format: 'yyyy-mm-dd', 
		defaultDate: new Date(), 
	});
	$('#end_date_value').datepicker({
		autoclose: true,
		onSelect: function(dateText) {
          $(this).datepicker('hide'); // Manually hide the datepicker after selecting a date
        },
		format: 'yyyy-mm-dd', 
		defaultDate: new Date(), 
	});

	function getDashboardData(){
        start_date = $('#start_date_value').val();
		end_date = $('#end_date_value').val();
        initializeDataTable(start_date, end_date);
    }

    function getFilterdData(){
		start_date = $('#start_date_value').val();
		end_date = $('#end_date_value').val();
		initializeDataTable(start_date,end_date)
    }

    function getResetData(){
		var currentDate = new Date();
		var date60DaysAgo = new Date(currentDate.getTime() - (60 * 24 * 60 * 60 * 1000));
		var startDate = formatDate(date60DaysAgo);
		var endDate = formatDate(currentDate);
		
		$('#start_date_value').val(startDate);
		$('#end_date_value').val(endDate);
	
		start_date = $('#start_date_value').val();
		end_date = $('#end_date_value').val();
		initializeDataTable(start_date,end_date)
	}


	function initializeDataTable(start_date, end_date){
		$(document).ready(function() {
			$('#dataphone111').DataTable().destroy();
			$('#dataphone111').DataTable({
				order: [[1, 'desc']],
				"processing": true,
				"pageLength": 50, 
				"language": {
					"processing": '<div><div></div><div></div><div></div><div></div></div>' // Custom loading icon
				},
				"serverSide": true,
				"ajax": {
					"url": WS_PATH + "/get-dispatch-data",
					"type": "POST",
					"data": function (d) {
						d.start_date = start_date;
						d.end_date = end_date;
					},
					"dataSrc": "data"
				},
				"columns": [
					{ 
						"data": "chk",
						"render": function(data, type, row) {
							return data;
						}
					},
					{ "data": "car" },
					{ "data": "offerif" },
					{ "data":"location"},
					{ "data": "form" },
					// { "data": "orignalprice" },
					{ "data": "revisedprice" },
					{ "data": "offer" },
					{ "data": "date" },
					{ 
						"data": "btn",
						"render": function(data, type, row) {
							return data;
						}
					},
				],
				"columnDefs": [
					{
						"targets": 4, 
						"className": "dt-word-break" 
					},
					{ "orderable": false, "targets": [0,1,3,4,8] },
					{
						"targets": 8,
						"className": "align-center"
					}
				],
				"initComplete": function(settings, json) {
					$('.dataTables_length').append('<input type="submit" class="btn btn-lg btn-primary" value="Delete" onclick="inquiryDelete()" 	style="margin-left:15px;">');
				}
			});
		});
	}
	
	function formatDate(date) {
		var year = date.getFullYear();
		var month = (date.getMonth() + 1).toString().padStart(2, '0'); 
		var day = date.getDate().toString().padStart(2, '0');
		return year + '-' + month + '-' + day;
	}
</script>