{% include "header.html" %}

<style>
    .error{
        color: red;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
    }
    #role{
        cursor: pointer
    }
    #insert_modal .modal-header:before, #insert_modal .modal-header:after {
        display: none;
    }

</style>
<style>
        input[type=checkbox] {
    border-color: #ccc;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #ccc;
    width:15px;
    height:15px;
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor:pointer;
    margin: 0;
}
input:checked[type=checkbox] {
    background-color: #2ab573;
    border-color: #2ab573;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
    </style>

<div class="content-wrapper">
    <div class="container">
        <div class="page-title-box">
          <div class="row">
              <div class="col-lg-12">
				  <div class="d-flex no-block justify-content-between align-items-center">
                  	  <h4 class="page-title">Admin List</h4>
                      <div>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insert_modal">Add Admin</button>
                      </div>
				  </div>
              </div>
          </div>
        </div>

        <div class="modal fade" id="insert_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="justify-content: space-between; align-items: center;">
                        <h4 class="modal-title" id="title">Add Admin</h4>
                        <div style="display: flex; align-items: center;">
                            <button style="margin-right: 5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#details_modal">Access Permission Details</button>
                            <button type="button" class="close" id="close-popup" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                              </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success" role="alert" id="inquiry_msg" style="display:none;"></div>
                        <div class="alert alert-error" role="alert" id="inquiry_msg_error" style="display:none;"></div>
                        <form action="" id="admin_form" method="post">
                            <input type="hidden" name="id" id="id">
                            <div class="row form-group">
                                <div class="col">
                                    <!-- /* darshan changes 31-08-2023 1 */ -->
                                    <label for="email">First Name*</label>
                                    <input type="text"  class="form-control" id="first_name" placeholder="Enter First name*"
                                        name="first_name" autofocus>
                                    <span id="firstname_span"></span>
                                    <!-- /* darshan changes 31-08-2023 1  close*/ -->
                                </div>
                                <div class="col">
                                    <label for="email">Last Name*</label>
                                    <input type="text" class="form-control" id="last_name" placeholder="Enter Last name*"
                                        name="last_name">
                                    <span id="lastname_span"></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="email">Phone Number*</label>
                                    <input type="text" class="form-control" id="phone" placeholder="Enter phone number*" name="phone" numeric>
                                    <span id="phone_span"></span>
                                </div>
                                <div class="col">
                                    <label for="email">Username*</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter Username*"
                                        name="username">
                                    <span id="username_span"></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="email">Email*</label>
                                    <input type="text" class="form-control" id="email" placeholder="Enter email*" name="email">
                                    <span id="email_span"></span>
                                </div>
                                <div class="col">
                                    <label for="email">Role*</label>
                                    <select class="form-control" name="role" id="role" >
                                        <option value="0">Select Role*</option>
                                        <option value="Staff">Staff</option>
                                        <option value="Super Admin">Super Admin</option>
                                    </select>
                                    <span id="role_span"></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="email">Address</label>
                                    <textarea name="address" class="form-control" id="address" cols="30" rows="2" name="address"
                                        placeholder="Enter Address"></textarea>
                                    <span id="address_span"></span>
                                </div>
                                <div class="col-md-6" id="hidediv">
                                    <label for="email">Password*</label>
                                    <input type="password" class="form-control" id="password" placeholder="Enter password*"
                                        name="password">
                                        <span><small>(*The password must be at least 8 characters, must include at least one uppercase, one lowercase one special characters and one numeric value.)</small></span><br>
                                        <span id="password_span"></span><br>
                                        <!-- <div class="password_check"><input id="passwordCheck" type="checkbox" onclick="myFunction()"><label for="passwordCheck">Show Password </label></div>-->
                                </div>
                            </div>
                            <div class="form-group custom-checkbox" id="email_id">
								<label class="control-label">Email Notifications for Accepted offers</label>
								<input type="checkbox" name="email_noti" value="yes"  class="form-control input-lg" id="email_noti">
							</div>
                            <div class="row form-group">
                                <div class="col">
                                    <input type="button" class="btn btn-primary" id="save" value="Save" onclick="savebtn();">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="details_modal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="title">Access Permission Details</h4>
                        <button type="button" class="close" id="close-popup" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                    </div>
                    <div class="modal-body" style="padding: 15px 25px">
                        <h4>Staff Permissions :</h4>
                        <p>Staff will be allowed to access the listed items only. View dashboard, View inquiry list,  view inquiry detail page, assign to Copart, Edit their profile and change the password</p>
                        <p>Here is the list of actions that staff will not be able to do.</p>
                        <ul>
                            <li>Staff will not be allowed to create and manage accounts. Manage admin will not display on the staff account.</li>
                            <li>Staff will not be able to check price management.</li>
                            <li>Staff is allowed to view the inquiry list but not allowed to delete any inquiries.</li>
                        </ul>
                        
                        <h4 style="margin-top: 20px;">Super Admin Permissions:</h4>
                        <p>The Super admin will be able to access everything including, Create & Manage accounts as well as Price Management and inquiry delete. </p>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="alert alert-success mt-2" role="alert" id="inquiry_msg1" style="display:none;"></div>
            <div class="alert alert-error" role="alert" id="inquiry_msg_error1" style="display:none;"></div>
            <div class="box">
                <div class="box-body">
                    <table id="dataphone3" class="table table-bordered table-striped">
                        <thead align="center">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Username</th>
                                <th>Email</th>
                                <!-- <th>Password</th> -->
                                <th>Role</th>
                                <th style="width: 15%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% if data|length == 0 %}
                            <tr>
                                <td></td>
                                <td>No Data</td>
                                <!-- <td></td> -->
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                                {% else %}
                            <tr>
                                {% for row in data %}

                                <td >{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>{{ row[6] }}</td>
                                <!-- <td>{{ row[7] }}</td>   password show  -->
                                <td>{{ row[8] }}</td>
                                <td>
                                    <a class="btn btn-primary" onclick="editbtn({{row[0]}})">Edit</a>
                                    {% if row[0] != 1%} <a class="btn btn-primary" onclick="removebtn({{row[0]}})">Delete</a>{% endif %}
                                </td>
                            </tr>
                                {% endfor %}
                                {% endif%}
                        </tbody>
                  </table>
                </div>
            </div>
        </section>
    </div>
</div>


{% include "footer.html" %}
<script src="{{ url_for('static' , filename ='js/admin.js')}}"></script>
