{% include "header.html" %}

<div class="content-wrapper">
      <div class="content-wrapper">
          <div class="container">
			  <div class="page-title-box">
				<div class="row">
					<div class="col-lg-12">
						<h4 class="page-title">Change Password</h4>
					</div>
				</div>
			  </div>
              <section class="content">
                  <div class="box">
					  <div class="row">
						  <div class="col-lg-7">
                      <form class="" method="POST" action="/settingupdate" id="updatepass">
                        
                          {% for row in data %}
                            <div class="box-body lg-form">
                                <!-- darshan changes 31-08-2023 2 -->
                                <div class="alert alert-success" role="alert" id="inquiry_msg" style="display:none;"></div>
                                <!-- darshan changes 31-08-2023 2 close -->
                                <div class="form-group">
                                    {% for message in get_flashed_messages()%}
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Old Password</label>
                                    <input name="old_password" value="" id="old_password" type="password" class="form-control input-lg" placeholder="Old Password" autocomplete="off" required>
                                    <input name="old_password_fetch" value="{{ row[7] }}" id="old_password_fetch" type="hidden" class="form-control input-lg" placeholder="Old Password" autocomplete="off" required>
                                    <span class="error" id="old_password_span"></span>
                                    <!-- darshan changes 31-08-2023 1 -->
                                    <input type="hidden" name="id" id="id" value="{{ row[0] }}">
                                    <!-- darshan changes 31-08-2023 1 close -->
                                </div>
                                <div class="form-group">
                                    <label class=" control-label">New Password</label>
                                    <input name="new_password" id="new_password" value="" type="password" class="form-control input-lg" placeholder="New Password" autocomplete="off" required>
                                    <span><small>(*The password must be at least 8 characters, must include at least one uppercase, one lowercase one special characters and one numeric value.)</small></span><br>
                                    <span class="error" id="new_password_span"></span>
                                </div>
                                <div class="form-group">
                                    <label class=" control-label">Confirm Password</label>
                                    <input name="confirm_password" value="" id="confirm_password" type="password" class="form-control input-lg" placeholder="Confirm Password" autocomplete="off" required>
                                    <span class="error" id="confirm_password_span"></span>
                                </div>
                                <div class="form-group">
                                    <input name="setting" type="button"  id="changepassword_button" class="btn btn-lg btn-primary " value="Update">
                                    <a href="/dashboard" class="btn btn-lg btn-default ml-2">Cancel</a>
                                </div>
                            </div>
                          {% endfor %}
                      </form>
						  </div>
					  </div>
                  </div>
              </section>
          </div>
      </div>
</div>
{% include "footer.html" %}