{% include "header.html" %}
<div class="content-wrapper">  
	<div class="container">
		<div class="page-title-box">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="page-title">Dashboard</h4>
				</div>
			</div>
		</div>
		<section class="content">
			<div class="box dashbord-view">
				<div class="box-body lg-form p-0">
					<div class="row">
						<div class="col-lg-4">
							<div class="counter-col">
								<h1><a href="/dev-carcash/inquiry-list?status=today">{{currentDay[0][0]}}</a></h1>
								<h4>Today's Inquiry</h4> 
							</div>
						</div>
						<div class="col-lg-4">
							<div class="counter-col">
								<h1><a href="/dev-carcash/inquiry-list?status=weekly">{{currentWeek[0][0]}}</a></h1>
								<h4>Current Week Inquiry</h4> 
							</div>
						</div>
						<div class="col-lg-4">
							<div class="counter-col">
								<h1><a href="/dev-carcash/inquiry-list?status=monthly">{{currentMonth[0][0]}}</a></h1>
								<h4>Current Month Inquiry</h4>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="counter-col">
								<h1><a href="/dev-carcash/inquiry-list?status=completed">{{completeInquiry[0][0]}}</a></h1>
								<h4>Completed Inquiry</h4> 
							</div>
						</div>
						<div class="col-lg-4">
							<div class="counter-col">
								<h1><a href="/dev-carcash/inquiry-list?status=incomplete">{{inCompleteInquiry[0][0]}}</a></h1>
								<h4>Incomplete Inquiry</h4> 
							</div>
						</div>
						<div class="col-lg-4">
							<div class="counter-col">
								<h1><a href="/dev-carcash/inquiry-list?status=accepted">{{acceptInquiry[0][0]}}</a></h1>
								<h4>Accepted Inquiry</h4> 
							</div>
						</div>
						
						<div class="col-lg-4">
							<div class="counter-col">
								<h1><a href="/dev-carcash/inquiry-list?status=userfrom" id="tooltip" data-html="true" data-toggle="tooltip" data-placement="right" title="{% for item in userfrom: %}
								        {% if item[0] == 'https://t.co/' :  %}
								            https://www.twitter.com/: {{item[1] }}<br>
								        {% else:  %}
								            {{ item[0]}}: {{item[1] }}<br>
								        {% endif %}
								    {%endfor%}">{{userfromTotal[0][0]}}
								</a></h1>
								<h4 >User Tracked From</h4> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% include "footer.html" %}