{% include "header.html" %}<style>
    
input[type=checkbox] {
    border-color: #ccc;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #ccc;
    width:15px;
    height:15px;
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor:pointer;
    margin: 0;
}
input:checked[type=checkbox] {
    background-color: #2ab573;
    border-color: #2ab573;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
</style>
<div class="content-wrapper">            

	  <div class="container">
		  <div class="page-title-box">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="page-title">Inquiry List</h4>
				</div>
			</div>
		  </div>
		  <div class="alert alert-success" role="alert" id="inquiry_msg" style="display:none;"></div>
		  <section class="content">
		  	
		  	<div class="alert alert-error" role="alert" id="inquiry_msg_error" style="display:none;"></div>

			  <div class="box">
			      
				  <div class="box-body">
					  <table id="dataphone111" class="table table-bordered table-striped">
					  <thead align="center">
						<tr>
						   
						   	{% if role == (('Super Admin',),) %}
						   	<th>
						   		<input type="checkbox" name="allArrSelect" id="allArrSelect" onchange="selectAllChk()">
						   	</th>
						   {% endif %}
						   
						  <th width="10%">Car</th>
						  <!--<th>Name</th>-->
						  <th width="10%">Offer ID</th>
						  <th width="12%">User's Geolocation</th>
						  <th width="18%">User Tracked From</th>
						  <th>Original Price</th>
						  <th>Revised Price</th>
						  <th>Status</th>
						  <th>Created Date</th>
						  <th class="nosort" width="8%">Action</th>
						</tr>
					  </thead>

					  <tbody>
						  {% if data|length == 0 %}
						<tr>
						    <td></td>
						    <td></td>
						  <td>No Data</td>
						   <td></td> 
						  <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						</tr>
						  {% else %}
						<tr>
						    
							{% for row in data %}
							
							
								{% if role == (('Super Admin',),) %}
								<td>
									<input type="checkbox" name="chkArr[]" class="selectChk" value="{{ row[0]}}" onchange="singleSelect()">
								</td>
							{% endif %}
							
									
						  <td>{{ row[1] }} {{ row[4] }} {{ row[5] }}</td>
						  <td>
						  	{% if row[40] == "NaN" %}
                            {% elif row[40] == none %}
                            {% else %}
                                {{row[44]}} 
                            {% endif %}
						  </td>
						  <!-- <td>{{ row[20] }} {{ row[21] }}</td> -->
						  <td>{{ row[35] }}, {{ row[36] }}, {{ row[37] }}</td>
						  <td style="word-break: break-word;">{% if row[43] == 'https://t.co/' :  %}
								            https://www.twitter.com/
								        {% else:  %}
								            {{ row[43] }}
								        {% endif %}</td>
						  <td>{% if row[39] == "NaN" %}
						         Not Finished
                              {% elif row[39] == none %}
                               Not Finished
                              {% else %}
                                    ${{ row[39] }}
                              {% endif %}</td>
						  <td>{% if row[40] == "NaN" %}
						   Not Finished
                              {% elif row[40] == none %}
                               Not Finished
                              {% else %}
                                    ${{ row[40] }}
                              {% endif %}</td>
						  <!--{% if row[38] == 'accept' %}-->
						  <!--	<td>Accepted</td>-->

						  <!--{% else %}-->
						  <!--	<td>Not accepted</td>-->
						  <!--{% endif%}  -->
						  <td>
						      {% if row[57] == "NaN" %}
						        Accepted
						      {% elif row[57] == none %}
						        Accepted
						      {% elif row[57] == '' %}
						        Accepted
						      {% else %}
						        {{row[57]}}
						      {% endif %}
						  </td>
						  
						  <td>{{ row[33] }}</td>
						  <td align="center">

							<a class="btn btn-sm btn-primary" href="/dev-carcash/inquiry-fetch/{{ row[0]}}">View</a>
							<!--<a class="btn btn-sm btn-primary" href="javascript:void(0)" onclick="deleteInquiry({{ row[0]}})">Delete</a>-->
							
							{% if role == (('Super Admin',),) %}
							<a class="btn btn-sm btn-primary" href="javascript:void(0)" onclick="deleteInquiry({{ row[0]}})">Delete</a>
							{% endif %}
							
							
							{% if row[38] == 'accept' %}
						        {% if row[42] == 'yes' %}
						            <span class="dispatch-btn2">Dispatched to Copart</span>
						        {% else %}
						        	<span class="dispatch-btn3">Awaiting Action to Dispatch</span>
						        {% endif %}
						    {% endif %}
						  </td>
						</tr>
							{% endfor %}
						  {% endif%}   
					  </tbody>
					</table>

				  </div>
		  </div>
		  </section>
	  </div>
</div>

<script>
    
    
    
	function deleteInquiry(ids1){


		var result = confirm("Are sure want to delete this inquiry?");
		if (result) {

		    $.ajax({
				url: WS_PATH+'deleteinquiry',
				// url: '/deleteinquiry',
				data: {id:ids1},
				type: 'POST',				
				success: function(response){
					
					var data = JSON.parse(response);
					var data1 = data.model;
					if(data1){
						$('#inquiry_msg').show();
						$( "#inquiry_msg" ).html('Inquiry deleted successfully!');

						setTimeout(function(){ window.location.reload(); }, 2000);
						 
						
					}
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
	
	function inquiryDelete(){

		var result = confirm("Are sure want to delete this inquiry?");
		if (result) {
			var inquiry = $('input[class="selectChk"]:checked').length;

			if(inquiry==0){
				$('#inquiry_msg_error').text('Please select atleast one inquiry');
				$('#inquiry_msg_error').show();
			}else{
				var a = '';
				$("input:checkbox[class='selectChk']:checked").each(function(){
					a = a + $(this).val() + ',';
				});
				var b =  a.slice(0, -1);

				$.ajax({
					url: WS_PATH+'all-delete-inquiry',
					data: {id:b},
					type: 'POST',				
					success: function(response){
						
						var data = JSON.parse(response);
						var data1 = data.model;
						if(data1){
							console.log('fffffffffffff',data1);
							$('#inquiry_msg').show();
							$( "#inquiry_msg" ).html('Inquiry deleted successfully!');

							setTimeout(function(){ window.location.reload(); }, 2000);
							 
							
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		}
	}
	function selectAllChk(){

		if($('#allArrSelect').is(':checked')){
			$('.selectChk').prop('checked', true);	
		}else{
			$('.selectChk').prop('checked', false);	
		}
	}

    

	function singleSelect(){

		var total =  $('input[class="selectChk"]').length;
		var selectedTotal =  $('input[class="selectChk"]:checked').length;

		if(total==selectedTotal){
			$('#allArrSelect').prop('checked', true);	
		}else{
			$('#allArrSelect').prop('checked', false);	
		}
	}
</script>

{% include "footer.html" %}