{% include "header.html" %}<style>

input[type=checkbox] {
    border-color: #ccc;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #ccc;
    width:15px;
    height:15px;
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor:pointer;
    margin: 0;
}
input:checked[type=checkbox] {
    background-color: #2ab573;
    border-color: #2ab573;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
</style>
<div class="content-wrapper">
	  <div class="container">
		  <div class="page-title-box">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="page-title">Inquiry List</h4>
				</div>
			</div>
		  </div>
		  <div class="alert alert-success" role="alert" id="inquiry_msg" style="display:none;"></div>
		  <ul class="nav nav-tabs">
			<li class="active"><a  href="{{ url_for('inquirylist') }}">Inquiry List</a></li>
			<li><a  href="{{ url_for('declinelist') }}" >Declined Offer</a></li>
		  </ul>
		  <section class="content">
		  	
		  	<div class="alert alert-error" role="alert" id="inquiry_msg_error" style="display:none;"></div>

			  <div class="box brnone">
				  <div class="box-body">
				      <div class="tab-content">
					    <div id="tab1" class="tab-pane fade in active">
					        <table id="dataphone" class="table table-bordered table-striped">
					  <thead align="center">
						<tr>

								{% if role == (('Super Admin',),) %}
					                  <th>
					                      <input type="checkbox" name="allArrSelect" id="allArrSelect" onchange="selectAllChk()">
					                  </th>
					              {% endif %}

						  <th width="10%">Car</th>
						  <th width="10%">Offer ID</th>
						  <th width="12%">User's Geolocation</th>
						  <th width="18%">User Tracked From</th>
						  <th>Original Price</th>
						  <th>Revised Price</th>
						  <th>Offer</th>
						  <th>Created Date</th>
						  <th class="nosort" width="8%">Action</th>
						</tr>
					  </thead>

					  <tbody>
						  {% if data|length == 0 %}
						<tr>
						    <td></td>
						    <td></td>
						  <td>No Data</td>
						   <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						  <td></td>
						</tr>
						  {% else %}
						<tr>

							{% for row in data %}

							    {% if row[38] != 'Decline' %}
								{% if role == (('Super Admin',),) %}
				                  <td>
				                      <input type="checkbox" name="chkArr[]" class="selectChk" value="{{ row[0]}}" onchange="singleSelect()">
				                  </td>
				              {% endif %}


						  <td>{{ row[1] }} {{ row[4] }} {{ row[5] }}</td>
						  <td>
						  	{% if row[40] == "NaN" %}
                            {% elif row[40] == none %}
                            {% else %}
                                {{row[44]}}
                            {% endif %}
						  </td>
						  <!-- <td>{{ row[20] }} {{ row[21] }}</td> -->
						  <td>{{ row[35]|capitalize }}, {{ row[36]  }} {{ row[8] }}</td>
						  <td style="word-break: break-word;">{% if row[43] == 'https://t.co/' :  %}
								            https://www.twitter.com/
								        {% else:  %}
								            {{ row[43] }}
								        {% endif %}</td>
						  <td>{% if row[39] == "NaN" %}
						         Not Finished
                              {% elif row[39] == none %}
                               Not Finished
                              {% else %}
                                    ${{ row[39] }}
                              {% endif %}</td>
						  <td>{% if row[40] == "NaN" %}
						   Not Finished
                              {% elif row[40] == none %}
                               Not Finished
                              {% else %}
                                    ${{ row[40] }}
                              {% endif %}</td>
						  {% if row[38] == 'accept' %}
						  		{% if row[57] != None %}
								  <td>{{ row[57] }} </td>
								{% else %}
									  <td>Accepted</td>
								{% endif %}
						  {% else %}
						  	<td>Not accepted</td>
						  {% endif%}

						  <td>{{ row[33] }}</td>
						  <td align="center">
							<a class="btn btn-sm btn-primary" href="/dev-carcash/inquiry-fetch/{{ row[0]}}/?back=inquiry">View</a>
							<!--<a class="btn btn-sm btn-primary" href="javascript:void(0)" onclick="deleteInquiry({{ row[0]}})">Delete</a>-->

							{% if role == (('Super Admin',),) %}
				              <a class="btn btn-sm btn-primary" href="javascript:void(0)" onclick="deleteInquiry({{ row[0]}})">Delete</a>
				            {% endif %}

							{% if row[38] == 'accept' %}
						        {% if row[42] == 'yes' %}
						            <span class="dispatch-btn2">Dispatched to Copart</span>
						        {% else %}
						        	<span class="dispatch-btn3">Awaiting Action to Dispatch</span>
						        {% endif %}
						    {% endif %}
						  </td>
						</tr>
						    {% endif%}
							{% endfor %}
						  {% endif%}
					  </tbody>
					</table>
					    </div>

					  </div>
				  </div>
		      </div>
		  </section>
	  </div>
</div>

<script>

	function deleteInquiry(ids1){


		var result = confirm("Are sure want to delete this inquiry?");
		if (result) {

		    $.ajax({
				url: WS_PATH+'deleteinquiry',
				// url: '/deleteinquiry',
				data: {id:ids1},
				type: 'POST',
				success: function(response){

					var data = JSON.parse(response);
					var data1 = data.model;
					if(data1){
						$('#inquiry_msg').show();
						$( "#inquiry_msg" ).html('Inquiry deleted successfully!');

						setTimeout(function(){ window.location.reload(); }, 2000);


					}
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
	function inquiryDelete(){

		var result = confirm("Are sure want to delete this inquiry?");
		if (result) {
			var inquiry = $('input[class="selectChk"]:checked').length;

			if(inquiry==0){
				$('#inquiry_msg_error').text('Please select atleast one inquiry');
				$('#inquiry_msg_error').show();
			}else{
				var a = '';
				$("input:checkbox[class='selectChk']:checked").each(function(){
					a = a + $(this).val() + ',';
				});
				var b =  a.slice(0, -1);

				$.ajax({
					url: WS_PATH+'all-delete-inquiry',
					data: {id:b},
					type: 'POST',
					success: function(response){

						var data = JSON.parse(response);
						var data1 = data.model;
						if(data1){
							console.log('fffffffffffff',data1);
							$('#inquiry_msg').show();
							$( "#inquiry_msg" ).html('Inquiry deleted successfully!');

							setTimeout(function(){ window.location.reload(); }, 2000);


						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		}
	}
	function selectAllChk(){

		if($('#allArrSelect').is(':checked')){
			$('.selectChk').prop('checked', true);
		}else{
			$('.selectChk').prop('checked', false);
		}
	}
	function singleSelect(){

		var total =  $('input[class="selectChk"]').length;
		var selectedTotal =  $('input[class="selectChk"]:checked').length;

		if(total==selectedTotal){
			$('#allArrSelect').prop('checked', true);
		}else{
			$('#allArrSelect').prop('checked', false);
		}
	}
	function selectAllChk1() {
		// alert("hii")
		if ($('#allArrSelect1').is(':checked')) {
			$('.selectChk1').prop('checked', true);
		} else {
			$('.selectChk1').prop('checked', false);
		}
	}
	function inquiryDelete1() {
		// alert()
		var result = confirm("Are sure want to delete this inquiry?");
		if (result) {
			var inquiry1 = $('input[class="selectChk1"]:checked').length;

			if (inquiry1 == 0) {
				$('#inquiry_msg_error').text('Please select atleast one inquiry');
				$('#inquiry_msg_error').show();
			} else {
				var a = '';
				$("input:checkbox[class='selectChk1']:checked").each(function () {
					a = a + $(this).val() + ',';
				});
				var b = a.slice(0, -1);

				$.ajax({
					url: WS_PATH + 'all-delete-inquiry',
					data: { id: b },
					type: 'POST',
					success: function (response) {

						var data = JSON.parse(response);
						var data1 = data.model;
						if (data1) {
							console.log('fffffffffffff', data1);
							$('#inquiry_msg').show();
							$("#inquiry_msg").html('Inquiry deleted successfully!');

							setTimeout(function () { window.location.reload(); }, 2000);


						}
					},
					error: function (error) {
						console.log(error);
					}
				});
			}
		}
	}
	function decline_show(id) {
			// alert(id)
			$("#exampleModal").modal('show')
			$.ajax({
				type: "Get",
				url: WS_PATH + "decline-offer-data/" + id,
				// data: "data",
				// dataType: "dataType",
				success: function (response) {
					$("#d_name").text(response[0][46])
					$("#d_email").text(response[0][47])
					$("#d_phone").text(response[0][48])
					$("#declined_offer").text(response[0][52])
					// $("#d_interiorphoto").val(response[0][48])
					var a = response[0][49]

					console.log('nigam'+a);

					if(a!=null && a!='' && a!='null'){
						var myArray = a.split(",");
						console.log(myArray)
						let text = "";
						for (let i = 0; i<myArray.length; i++) {
							if(myArray[i]!='' && myArray[i]!=null){
								text += '<img class="img-preview" src="static/images/'+myArray[i]+'"  width="100px"/>';
								document.getElementById("d_interiorphoto").innerHTML = text;
							}
						}
					}
					if(response[0][50]!='' && response[0][50]!=null){
						$('#d_vinphoto').html('<img class="img-preview" src="static/images/' + response[0][50] + '"  width="100px"/>');
					}

					// $("#d_mileagephoto").val(response[0][50])
					if(response[0][51]!='' && response[0][51]!=null){
						$('#d_mileagephoto').html('<img class="img-preview" src="static/images/' + response[0][51] + '"  width="100px"/>');
					}
					if(response[0][53]!='' && response[0][53]!=null){
						$('#d_interiorphoto1').html('<img class="img-preview" src="static/images/' + response[0][53] + '"  width="100px"/>');
					}
				}
			});
		}
</script>

{% include "footer.html" %}